{% extends 'ui/base.html' %}
{% block content %}
<div>
    <hr>
    <p>Title: {{product.title}} </p>
    <p>Product ID: {{product.product_id}} </p>
    <p>Old price: {{product.old_price}} </p>
    <p>Price now: {{product.current_price}}</p>
    <p>Brand: {{product.brand}} </p>
    <p>Category code: {{product.category.category}} </p>
    <p>View details on site: <a href="{{product.href_product}}" target="_blank">View...</a></p>
    <p>Description: <br> {{product.description}} </p>
    {% if request.user.is_authenticated %}
    {% if product.current_price != 0 %}
        <form action="{% url 'cart:add' %}" method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit">Add to cart</button>
        </form>
    {% endif %}
    {% endif %}
    <hr>
    {% if request.user.is_superuser %}
    <a href="{% url 'products:product-update' product.id %}"><button>UPDATE</button></a>
    <form action="{% url 'products:remove-product' %}" method="POST">
        {% csrf_token %}
        {{ remove_form }}
        <button type="submit">DELETE</button>
        <br/>
    </form>
    {% endif %}
    <hr>
</div>

{% endblock %}